@import "reset";
@import "variables";

@font-face {
  font-family: "CosmicAlien";
  src:  url("../fonts/CosmicAlien.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CosmicAlien.woff") format("woff"),
        url("../fonts/CosmicAlien.ttf")  format("truetype"),
        url("../fonts/CosmicAlien.svg#CosmicAlien") format("svg");
  font-weight: normal;
  font-style: normal;
}

html{
  background: #0c1523;
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
}

.screen,
.screen * {
  position: absolute;
}

.hide{
  opacity: 0;
  visibility: hidden;
  display: none;
}

.buttons{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.button{
  cursor: pointer;
  color: white;
  margin: 10px;
  flex-grow: 1;
  padding: 10px;
  font-family: "CosmicAlien";
  background: #4b6287;
  border-radius: 5px;
  border: solid 2px white;
  text-align: center;
  transition: all 0.2s;
}
.button:hover{
  background: #202a3a;
}

.screen {
  width: 90%;
  height: 90%;
  max-width: 1280px;
  max-height: 720px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 0 8px #666;
  overflow: hidden;

  @keyframes spriteAnimationMiniBoum {
     from { background-position:    0px; }
       to { background-position: -105px; }
  }

  .miniBoum{
    background: url("/images/sprite_mini_boum.png") no-repeat;
    animation: spriteAnimationMiniBoum 0.2s steps(3) forwards;
    width: 35px;
    height: 25px;
  }

  @keyframes spriteAnimationBoum {
     from { background-position:    0px; }
       to { background-position: -165px; }
  }

  .boum{
    background: url("/images/sprite_boum.png") no-repeat;
    animation: spriteAnimationBoum 0.2s steps(3) forwards;
    width: 55px;
    height: 40px;
  }

  .monsterBomb{
    width: 15px;
    height: 21px;
    background: url('/images/monsterBomb.png');
  }

  @keyframes spriteAnimationMonster {
     from { background-position:    0px; }
       to { background-position: -110px; }
  }

  .monster{
    width: 55px;
    height: 40px;
    background: url("/images/sprite_monster_1.png");
    animation: spriteAnimationMonster .8s steps(2) infinite;
  }

  @keyframes spriteAnimationSpaceship {
     from { background-position:    0px; }
       to { background-position: -120px; }
  }

  .spaceship{
    width: 30px;
    height: 38px;
    background: url("/images/sprite_spaceship.png");
    animation: spriteAnimationSpaceship .4s steps(4) infinite;
  }

  .ui{
    width: 100%;
    height: 100%;
    // position: relative;

    .pause{
      width: 40px;
      height: 44px;
      top: 0px;
      // right: 24px;
    }

    .score{
      right: 0;
      top: 0px;
      color: white;
      padding: 10px;
      font: bold 2em/1 "Roboto Mono", monospace;
    }

    .menu *,
    .result *{
      position: relative;
    }

    .menu,
    .result{
      width: 600px;
      height: 470px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #2f405b;
      box-shadow: 0 0 0 8px #666;
      transition: all 0.2s;
      .title{
        width: 100%;
        color: white;
        padding: 30px 20px 20px 20px;
        font-family: "CosmicAlien";
        font-size: 2em;
        font-style: italic;
        text-align: center;
      }
      .logo{
        display: block;
        text-align: center;
        padding: 10px 20px 40px 20px;
      }
      .win,
      .loose{
        color: white;
        padding: 30px 20px 20px 20px;
        font-family: "CosmicAlien";
        font-size: 2em;
        font-style: italic;
        text-align: center;
      }
    }
  }
}
