@font-face {
  font-family: 'CosmicAlien';
  src:
    url('./assets/fonts/CosmicAlien.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/CosmicAlien.woff') format('woff'),
    url('./assets/fonts/CosmicAlien.ttf') format('truetype'),
    url('./assets/fonts/CosmicAlien.svg#CosmicAlien') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  background: #0c1523;
}

.game,
.game * {
  position: absolute;
}

.game {
  width: 90%;
  height: 90%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  box-shadow: 0 0 0 8px #666;
}

.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.screen {
  width: 90%;
  height: 90%;
  max-width: 1280px;
  max-height: 720px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateZ(0);
  overflow: hidden;

  @keyframes spriteAnimationMiniBoum {
    from {
      background-position: 0px;
    }
    to {
      background-position: -105px;
    }
  }

  .miniBoum {
    background: url('./assets/images/sprite_mini_boum.png') no-repeat;
    animation: spriteAnimationMiniBoum 0.2s steps(3) forwards;
    width: 35px;
    height: 25px;
  }

  @keyframes spriteAnimationBoum {
    from {
      background-position: 0px;
    }
    to {
      background-position: -165px;
    }
  }

  .boum {
    background: url('./assets/images/sprite_boum.png') no-repeat;
    animation: spriteAnimationBoum 0.2s steps(3) forwards;
    width: 55px;
    height: 40px;
  }

  .monsterBomb {
    width: 15px;
    height: 21px;
    background: url('./assets/images/monsterBomb.png');
  }

  @keyframes spriteAnimationMonster_1 {
    from {
      background-position: 0px;
    }
    to {
      background-position: -110px;
    }
  }

  .monster_1 {
    width: 55px;
    height: 40px;
    background: url('./assets/images/sprite_monster_1.png');
    animation: spriteAnimationMonster_1 0.8s steps(2) infinite;
  }

  @keyframes spriteAnimationMonster_2 {
    from {
      background-position: 0px;
    }
    to {
      background-position: -80px;
    }
  }

  .monster_2 {
    width: 40px;
    height: 40px;
    background: url('./assets/images/sprite_monster_2.png');
    animation: spriteAnimationMonster_2 0.8s steps(2) infinite;
  }

  @keyframes spriteAnimationMonster_3 {
    from {
      background-position: 0px;
    }
    to {
      background-position: -120px;
    }
  }

  .monster_3 {
    width: 60px;
    height: 40px;
    background: url('./assets/images/sprite_monster_3.png');
    animation: spriteAnimationMonster_3 0.8s steps(2) infinite;
  }

  .bonus {
    width: 30px;
    height: 40px;
    background: url('./assets/images/interrogation_mark.png');
  }

  @keyframes spriteAnimationSpaceship {
    from {
      background-position: 0px;
    }
    to {
      background-position: -120px;
    }
  }

  .spaceship {
    width: 30px;
    height: 38px;
    background: url('./assets/images/sprite_spaceship.png');
    animation: spriteAnimationSpaceship 0.4s steps(4) infinite;
  }
}

.ui {
  width: 100%;
  height: 100%;
  // position: relative;

  .pause {
    width: 40px;
    height: 40px;
    top: 0px;
    color: white;
    font-family: 'CosmicAlien';
    // right: 24px;
  }
  .sound {
    width: 40px;
    height: 40px;
    // top: 10px;
    left: 50px;
    color: white;
    .buttonSoundContainer {
      width: 40px;
      height: 36px;
      .buttonSound {
        top: 3px;
        left: 2px;
        width: 35px;
        height: 30px;
        background-image: url('./assets/images/spriteSound.png');
      }
      .buttonSound.on {
        background-position: -70px;
      }
      .buttonSound.off {
        background-position: -35px;
      }
    }
  }

  .health {
    width: 125px;
    height: 30px;
    padding: 5px;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    .heart {
      width: 35px;
      height: 30px;
      background: url('./assets/images/spriteHeart.png');
      background-position: -70px;
    }
    .heart.lost {
      background-position: -35px;
    }
  }

  .bonusIconsContainer {
    width: 60px;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .bonusIcon {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 10px;
      &.bonusTripleFire {
        background: url('./assets/images/tripleFire.png');
      }
      &.speedSpaceShip {
        background: url('./assets/images/spaceshipSpeed.png');
      }
      &.bulletHz {
        background: url('./assets/images/bulletHz.png');
      }
      &.newHealth {
        background: url('./assets/images/heart.png');
      }
    }
  }

  .score {
    right: 0;
    top: 0px;
    color: white;
    padding: 10px;
    font-family: 'CosmicAlien';
    font-size: 1.2em;
  }

  .keyInfo {
    font-family: 'CosmicAlien';
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
    padding: 00px 10px 10px 10px;
    div {
      padding: 00px 00px 10px 00px;
    }
  }
  .buttons {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .button {
    cursor: pointer;
    color: white;
    margin: 10px;
    flex-grow: 1;
    padding: 10px;
    font-family: 'CosmicAlien';
    background: #4b6287;
    border-radius: 5px;
    border: solid 2px white;
    text-align: center;
    transition: all 0.2s;
    &.noPadding {
      padding: 0;
    }
  }
  .button:hover {
    background: #202a3a;
  }
  .buttonClear {
    cursor: pointer;
  }

  .menu *,
  .result * {
    position: relative;
  }

  .menu,
  .result {
    width: 600px;
    height: 470px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #2f405b;
    box-shadow: 0 0 0 8px #666;
    transition: all 0.2s;
    .title {
      color: white;
      padding: 30px 20px 20px 20px;
      font-family: 'CosmicAlien';
      font-size: 2em;
      font-style: italic;
      text-align: center;
    }
    .logo {
      display: block;
      width: 250px;
      height: 182px;
      background: url('./assets/images/logo.png');
      margin: 10px auto 30px auto;
    }
    .win,
    .loose {
      color: white;
      padding: 30px 20px 20px 20px;
      font-family: 'CosmicAlien';
      font-size: 2em;
      font-style: italic;
      text-align: center;
    }
  }
}
