extends ../layout

block content

  .game
    .screen
      .spaceship.hide
    .ui
      .pause
        .button.buttonPause.hide ||
      .sound
        .buttonSoundContainer.button.noPadding.hide
          .buttonSound.on
      .health
      .bonusIconsContainer
      .score
      .menu
        .title SpaceInvaders
        .logo
          img(src="/images/logo.png")
        .win.hide You Win !!!
        .loose.hide You Loose !!!
        .keyInfo
          div  Move : &#8678; &#8679; &#8680; &#8681;
          div Fire : space
        .buttons
          .button.buttonStart Start
          .button.buttonReStart.hide reStart
          .button.buttonContinue.hide Continue
